<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
   
	<bean id="helloWorld" class="com.simplilearn.HelloWorld">
		<property name="message" value="Hello World!" />
	</bean>
	
	
	<bean name="car" class="com.simplilearn.car" >
	<property name="brand" value="honda"></property>
	<property name="color" value="silver"></property>
	</bean>
	<bean name="bike" class="com.simplilearn.bike">
	<property name="company" value="pulsar"></property>
	<property name="color" value="black"></property>
	</bean>
</beans>